{% extends 'base.html' %}
{% load static %}

{% block stylesheet %}
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}
{% block title %}
  {{ book.title }}
{% endblock %}
{% block breadcrumb %}
        <li class="breadcrumb-item"><a href="{% url 'home' %}">Books</a></li>
        <li class="breadcrumb-item active">{{ book.title }}</li>
{% endblock %}
{% block content %}
    <div id="header">
        <h1>{{ book.title }}</h1>
    </div>
    <div id="content">
        <p>{{ book.content }}</p>
    </div>
    <div>
        <input type="text" name="comment" style="width: 800px; height: 145px;">
    </div>
    <button type="submit" >Comment</button>
{% endblock %}